{% extends 'base.njk' %}
{% block content %}
    <div class="header">All Awesome Recipes</div>
      <div id="homepage_recipes">
        {% for recipe in recipes %}
            <a href="/recipes/{{ recipe.id }}"
                ><img class="image_round" src="./{{ recipe.image }}"  alt="{{ recipe.title }}" /></a>
        {% endfor %}
    </div>
{% endblock %}