{% extends 'base.njk' %}
{% block content %}
    <div class="header">{{ recipe.title }}</div>
    <div class="header subheader">{{ recipe.subtitle }}</div>
    <div style="text-align: center">
      <p>
        <strong>Makes</strong> {{ recipe.make }} <strong>Cooks</strong> In {{ recipe.cook_time }} <strong>Difficulty</strong> {{ recipe.difficulty }}
      </p>
      <hr />
    </div>
    <div class="header subheader">INGREDIENTS</div>
    <div class="">
      <div id="ingredients">
        <img src="/{{ recipe.image }}" class="image_round" />
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient.item }}</li>
          {% endfor %}
        </ul>
      </div>
      <hr />
    </div>
    <div class="header subheader">METHOD</div>
    <div class="">
      <div id="method">
        <ol>
          {% for step in recipe.method %}
            <li>{{ step.step }}</li>
          {% endfor %}
        </ol>
      </div>
      <hr />
    </div>
    <div class="header subheader">User Comments</div>
    <div id="comments">
      <fieldset id="form" style="display: none">
        <legend>Enter a comment:</legend>
        <label for="username"><b>Name:</b> </label>
        <br />
        <input type="text" name="name" id="username" />
        <br /><br />
        <label for="comment"><b>Comment:</b> </label>
        <br />
        <textarea
          name="comment"
          id="comment"
          placeholder="Enter your comment here..."
          rows="4"
          cols="40"
        ></textarea>
        <br />
          <img src="/PlusSign.jpg" width="50" alt="plus sign"  onclick='sendComment({{ recipe.id }})' style='cursor: pointer;'/>
      </fieldset>

      <button onclick="seeComments({{ recipe.id }})">See Comments</button>
      <div id="comments-container" style="display: none">
      </div>
      <hr />
    </div>

    <div class="header subheader">Sign-up to receive new recipes</div>
    <div class="">
      <fieldset class="signup_fieldset">
        <legend>Personal Information</legend>
        <label for="name"><strong>Name:</strong> </label>
        <input type="text" name="name" id="name" />
        <br /><br />
        <label for="comment"><strong>Email:</strong> </label>
        <input
          name="email"
          id="email"
          type="email"
          placeholder="xxx@domain.com"
        />
      </fieldset>
      <br />
      <fieldset class="signup_fieldset">
        <legend>Types of recipes</legend>
        <label for="breakfast">Breakfast</label>
        <input
          type="radio"
          id="breakfast"
          name="fav_language"
          value="breakfast"
        />
        <label for="lunch">Lunch</label>
        <input type="radio" id="lunch" name="fav_language" value="lunch" />
        <label for="dinner">Dinner</label>
        <input type="radio" id="dinner" name="fav_language" value="dinner" />
      </fieldset>
      <br />

      <button class="">Sign Up</button>

      <hr />
    </div>

    <div class="header subheader">LINKS</div>
    <a href="https://www.google.com/search?q=fish+fingers+recipe"
      >Search for other fish fingers recipes</a
    >
{% endblock content %}