:root {
  --tablet-size: 769px;
  --desktop-size: 1260px;
  --clr-text: #a4a400;
  --clr-border: #73ad21;
  --clr-bg: #f0f0f0;
  --clr-highlight: #ffffa8;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  padding-inline: 1rem;
  background-image: url("./images/silverware.jpg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.header {
  font-size: 1.5rem;
  border: 2px solid var(--clr-border);
  border-radius: 25px;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  padding: 1.5rem 4rem;
  margin: 1rem auto;
  text-align: center;
  width: 95%;
  max-width: 600px;
  font-weight: 700;
}

.subheader {
  font-size: 1rem;
  padding: 1rem 1rem;
  width: 75%;
  max-width: 400px;
}

.image_round {
  border-radius: 45%;
  margin: 0.5rem auto;
  width: 425px;
}

/* ////////////////////// */
/* Home Page */
/* ////////////////////// */

@media only screen and (min-width: 768px) {
  #homepage_recipes {
    column-count: 2;
    column-rule: 2px solid var(--clr-text);
  }
}

@media only screen and (min-width: 1024px) {
  #homepage_recipes {
    column-count: 3;
    column-rule: 2px solid var(--clr-text);
  }
}

/* ////////////////////// */
/* Fish Page */
/* ////////////////////// */

ul > li {
  list-style-image: url("./images/fish_icon_24.png");
}

input {
  width: 100%;
}

blockquote {
  background-color: var(--clr-highlight);
  width: 80%;
}

fieldset {
  width: 80%;
}

.miniheader {
  text-align: left;
  width: 80%;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

hr {
  height: 3px;
  background-color: var(--clr-bg);
  border: none;
}

a {
  color: var(--clr-text);
}

.signup_fieldset {
  width: 100%;
  margin: 0 auto;
}

.signup_fieldset input[type="text"] {
  width: 75%;
}

.signup_fieldset input[type="radio"] {
  width: 2ch;
}

@media only screen and (min-width: 768px) {
  #ingredients,
  #method {
    column-count: 2;
    column-rule: 2px solid var(--clr-text);
  }

  #comments fieldset,
  blockquote {
    width: 400px;
  }

  hr {
    width: 700px;
  }

  .signup_fieldset {
    max-width: 250px;
  }

  #comments fieldset,
  blockquote {
    margin: 0 auto;
  }

  .miniheader {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  #ingredients,
  #method {
    column-count: 3;
    column-rule: 2px solid var(--clr-text);
  }

  hr {
    width: 1024px;
  }
}

div {
  max-width: 1024px;
}
